*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 90%;
    margin: auto;
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

#one{
    background-color: brown;
}

#two{
    background-color:blueviolet;
}

#three{
    background-color: aquamarine;
}

#four{
    background-color: darkred;
}

#five{
    background-color: lightcoral;
}

#six{
    background-color: dodgerblue;
}

#seven{
    background-color: khaki;
}

#eight{
    background-color: mediumseagreen;
}

figcaption{
    margin: auto;
    text-align: center;
}

figcaption:hover{
    cursor: pointer;
}

figure img{
  width: 100%;
}

